/* Global Styles */
:root {
  --color-secondary: #8a1e86;
  --color-variant: #fcb43a;
  --color-primary: #292929;
  --transtiion: all 0.3s linear;
}

font-face {
  font-family: "poppins";
  src: url("./fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("./fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("./fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("./fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("./fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("./fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.1px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.container {
  padding: 0 6%;
}

.breaker {
  height: 1px;
  background-color: black;
}

button {
  border: 0;
  background-color: white;
  cursor: pointer;
}

.background {
  background: rgb(246, 172, 32);
  background: linear-gradient(130deg, #ffb838 25%, #861889 100%);
}

.btn-theme {
  background: rgb(246, 172, 32);
  background: linear-gradient(130deg, #ffb838 25%, #861889 100%);
  white-space: nowrap;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  font-size: 1.6rem;
}
/* Navigation Styles */
.nav {
  padding: 30px 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.logo-ai {
  margin-right: 3.125%;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 43%;
  margin-right: auto;
}

.nav__link {
  line-height: 24px;
  transition: var(--transtiion);
}

.nav__link:hover,
.partner:hover {
  color: rgba(41, 41, 41, 0.5);
}

.partner-with-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.partner {
  text-decoration: underline;
  transition: var(--transtiion);
}

.btn-download {
  padding: 10px 18px;
}

/* Hero Section */
.hero {
  padding: 64px 2.5%;
  padding-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5%;
  margin-bottom: 42px;
}

.hero__text {
  width: 48.75%;
}

.hero__text h1 {
  margin-bottom: 28px;
}

.focus__background {
  background: rgb(246, 172, 32);
  background: linear-gradient(130deg, #861889 0%, #ffb838 100%);
}

.hero__text__focus {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero__text p {
  font-size: 1.6rem;
  line-height: 30px;
  color: #292929b3;
  margin-bottom: 48px;
}

.hero__download {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.hero__image {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.hero__reviews {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 0;
  transform: translateY(50%);
  z-index: 1;
}

@media screen and (max-width: 1150px) {
  .hero__reviews {
    display: none;
  }
}

.review {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex-direction: column; */
  border-radius: 8px;
  width: fit-content;
  opacity: 0.7;
  padding: 16px;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 500;
  width: 150%;
}

.review__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.hero__review__image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.review__user__content {
  color: white;
}

.review__more__content {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

/* Features Section */

.features {
  padding: 64px 2.5%;
  padding-bottom: 96px;
  color: var(--color-primary);
}

/*  TODO: remove width duplication */
.btn-discover {

  padding: 15px 7.8%;
  border-radius: 25px;
  margin-bottom: 28px;
}

.features__heading {
  width: 70.5%;

  margin-bottom: 20px;
}

.features__description {
  width: 70.5%;

  font-size: 2rem;
  line-height: 35px;
  margin-bottom: 151px;
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features__grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5%;
  row-gap: 78px;
}

.feature__grid__item {
  line-height: 30px;
}

.feature__image {
  margin-bottom: 25px;
  /* padding: 7.5px 9px 13.5px 12px; */
}
.feature__heading {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 2rem;
}

.feature__description {
  color: #262c2db3;
  font-size: 1.6rem;
}
