/* Global Styles */
:root {
  --color-secondary: #8a1e86;
  --color-variant: #fcb43a;
  --color-primary: #292929;
  --color-primary--light: #292929b3;
  --transtiion: all 0.3s linear;
}

font-face {
  font-family: "poppins";
  src: url("./fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("./fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("./fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("./fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("./fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("./fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5.5rem;
  line-height: 72px;
  letter-spacing: -1.1px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.container {
  padding: 0 8.5%;
}

.breaker {
  height: 1px;
  background-color: black;
  /* width: 100%; */
}

button {
  border: 0;
  background-color: white;
  cursor: pointer;
}

.background {
  background: #861889;
  background: linear-gradient(130deg, #ffb838 25%, #861889 100%);
}

.btn-theme {
  background: #861889;
  background: linear-gradient(130deg, #ffb838 25%, #861889 100%);
  white-space: nowrap;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  font-size: 1.6rem;
}

.show {
  display: block !important;
}

/* Navigation Styles */
.nav {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 500;
}

.nav-content {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.logo-ai {
  margin-right: 4.8%;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 43%;
  margin-right: auto;
}

.nav__link {
  line-height: 24px;
  transition: var(--transtiion);
}

.nav__link:hover,
.partner:hover {
  color: var(--color-primary--light);
}

.partner-with-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.partner {
  text-decoration: underline;
  transition: var(--transtiion);
}

.btn-download {
  padding: 10px 18px;
}

.nav__menu {
  display: none;
  color: var(--color-secondary);
  width: 40px;
  height: 40px;
}

.navh {
  width: 96vw;
  display: none;
}

.navh__item {
  padding: 15px 0;
  border-bottom: 1px solid hsla(302, 64%, 33%, 0.45);
  width: 100%;
  text-align: center;
}

.navh__item-last {
  border-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 1270px) {
  .partner-with-us {
    display: none;
  }

  .nav__items {
    width: 70%;
    margin-right: 0;
  }
}

@media screen and (max-width: 830px) {
  .nav__items {
    display: none;
  }

  .nav__menu {
    display: block;
  }

  /* .nav {
    padding-bottom: 0;
  } */
}

/* Hero Section */
.hero {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5%;
  margin-bottom: 42px;
}

.hero__text {
  width: 48.75%;
}

.hero__text h1 {
  margin-bottom: 28px;
}

.focus__background {
  background: rgb(246, 172, 32);
  background: linear-gradient(130deg, #861889 0%, #ffb838 100%);
}

.hero__text__focus {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero__text p {
  font-size: 1.6rem;
  line-height: 30px;
  color: var(--color-primary--light);
  margin-bottom: 48px;
}

.hero__download,
.hero__download__small {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.hero__download__small {
  display: none;
}

.hero__image {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.hero__reviews {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 0;
  transform: translateY(50%);
  z-index: 1;
}

@media screen and (max-width: 1150px) {
  .hero__reviews {
    display: none;
  }
}

@media screen and (max-width: 1135px) {
  .hero__text h1 {
    font-size: 3.6rem;
    line-height: 45px;
    letter-spacing: -0.72px;
  }

  .hero__text p {
    font-weight: 400;
    line-height: 24px;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 770px) {
  .hero {
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .hero__text {
    /* flex-grow: 1; */
    width: 100%;
  }

  .hero__text h1 {
    margin-bottom: 22px;
  }

  .hero__text p {
    margin-bottom: 45px;
  }

  .hero__download {
    margin-bottom: 70px;
  }
}

.review {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex-direction: column; */
  border-radius: 8px;
  width: fit-content;
  opacity: 0.7;
  padding: 16px;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 500;
  width: 150%;
}

.review__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.hero__review__image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.review__user__content {
  color: white;
}

.review__more__content {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

/* Features Section */

.features {
  padding-top: 64px;
  padding-bottom: 96px;
  color: var(--color-primary);
}

/*  TODO: remove width duplication */
.btn-discover {
  padding: 15px 4%;
  border-radius: 25px;
  margin-bottom: 28px;
}

.features__heading {
  width: 65.5%;
  font-size: 5.5rem;
  line-height: 72px;
  letter-spacing: -1.1px;

  margin-bottom: 20px;
}

.features__description {
  width: 65.5%;

  font-size: 2rem;
  line-height: 35px;
  margin-bottom: 151px;
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features__grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5%;
  row-gap: 78px;
}

.feature__grid__item {
  line-height: 30px;
}

.feature__image {
  margin-bottom: 25px;
  /* padding: 7.5px 9px 13.5px 12px; */
}

.feature__heading {
  letter-spacing: -1.1px;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 2rem;
}

.feature__description {
  color: #262c2db3;
  font-size: 1.6rem;
}
.feature__image__main {
  width: 90%;
  object-fit: cover;
}
@media screen and (max-width: 1150px) {
  .features__grid {
    grid-template-columns: 1fr;
    row-gap: 37px;
    column-gap: 10%;
  }

  .feature__image {
    margin-bottom: 10px;
  }

  .feature__heading {
    letter-spacing: -1.1px;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .feature__description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    width: 90%;
  }

  .btn-discover {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .features__heading {
    font-size: 3.6rem;
    line-height: 45px;
    letter-spacing: -0.72px;
    width: 100%;
    margin-bottom: 24px;
  }

  .features__description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .features-container {
    flex-direction: column;
  }

  .features__grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 67px;
  }
}

@media screen and (max-width: 736px) {
  .features__grid {
    grid-template-columns: 1fr;
  }
}

/* Offers Section */
.steps {
  padding-top: 64px;
  padding-bottom: 64px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 28px;
  margin: 0 auto;
}

.btn-step {
  padding: 15px 4%;
  border-radius: 25px;
  margin-bottom: 30px;
}

.steps__heading {
  width: 82%;
  margin: 0 auto;
  font-size: 5.5rem;
  line-height: 72px;
  letter-spacing: -1.1px;
}

.steps__decsription__head {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 36px;
  color: #707070;
}

.steps__description__text {
  line-height: 30px;
  font-size: 1.6rem;
  color: var(--color-primary--light);
}

/* Steps container Section */
.steps-images {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25%;
  margin-bottom: 90px;
}

.steps-image-two {
  position: absolute;
  bottom: 0;

  left: 26%;
  z-index: -1;
}

.steps-container {
  margin-top: 90px;
  display: flex;
  text-align: center;
  line-height: 30px;
  position: relative;
  margin-bottom: 250px;
}

.step--selected {
  position: absolute;
  width: 33%;
  /* transform: translateX(100%); */
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(246, 172, 32);
  background: linear-gradient(130deg, #861889 25%, #ffb838 100%);
}

.step {
  padding: 0 3.8%;
  border-top: 4px solid #2929291a;
}

.step__heading {
  font-weight: 600;
  font-size: 2.8rem;

  color: var(--color-primary);
  margin-bottom: 26px;
  margin-top: 24px;
}

.step__text {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-primary--light);
}

.selected {
  color: var(--color-secondary);
}

@media screen and (max-width: 1220px) {
  .steps__heading {
    width: 100%;
  }

  .step {
    text-align: start;
    border-top: 0;
    border-left: 4px solid #2929291a;
  }

  .steps-image-two {
    display: none;
  }

  .steps-images {
    padding-left: 0;
  }
}

@media screen and (max-width: 1080px) {
  .steps-container {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 92px;
  }

  .step--selected {
    display: none;
  }
}

@media screen and (max-width: 996px) {
  .steps {
    width: 100%;
  }
}

@media screen and (max-width: 790px) {
  .steps {
    align-items: flex-start;
    row-gap: 20px;
    text-align: start;
  }

  .btn-step {
    /* width: 31.5%; */
    padding: 10px 5%;

    font-size: 1.2rem;
    line-height: 20px;
  }

  .steps__heading {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.72px;
    margin-bottom: 20px;
  }

  .steps__decsription__head {
    display: none;
  }

  .steps__description__text {
    font-size: 1.4rem;
    line-height: 24px;
  }
}

/* Blog Section */

.blog {
  padding-bottom: 96px;
}

.blog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.btn-blog {
  padding: 15px 2%;
  border-radius: 25px;
  margin-bottom: 28px;
}

.blog__heading {
  width: 58%;
  font-size: 4rem;
  line-height: 60px;
  letter-spacing: -0.8px;
  color: var(--color-primary);
}

.blog__description {
  line-height: 30px;
  font-weight: 500;
  font-size: 1.4rem;
  width: 25.5%;
}

@media screen and (max-width: 1200px) {
  .blog__heading {
    width: 100%;

    font-size: 3.6rem;

    line-height: 45px;
    letter-spacing: -0.72px;
  }

  .blog__description {
    font-size: 1.4rem;
    line-height: 24px;
    width: 45%;
  }

  .btn-blog {
    padding: 10px 10%;
  }

  .blog__header {
    align-items: flex-start;
  }

  .blog__header {
    flex-direction: column;
    gap: 20px;
  }
}

.articals {
  /* gap: 32px; */
  /* margin-bottom: 185px; */
  padding: 0;
}

.artical {
  margin-bottom: 32px;
}

.artical__image {
  margin-bottom: 35px;
}

.artical__image img {
  width: 100%;
  object-fit: contain;
}

.artical__info {
  color: #861889;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.artical__heading {
  color: var(--color-primary);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 24px;
}

.artical__desc {
  color: #707070;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 30px;
}

.arrows {
  width: 10%;
  height: 50px;
  position: relative;
}

.arrow {
  width: 56px;
  height: 56px;
  color: gray;
}

@media screen and (max-width: 1080px) {
  .arrows {
    width: 15%;
  }

  .artical__info {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .artical__heading {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .artical__desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
  }
}

@media screen and (max-width: 845px) {
  .swiper-slide {
    width: 45vw !important;
  }
}

@media screen and (max-width: 845px) {
  .arrows {
    width: 25%;
  }
}
/* Swiper styles */

/* .swiper-wrapper {
  overflow: auto;
  max-width: 100vw;
} */

.mySwiper {
  overflow: hidden;
}

.swiper-button-next::after {
  content: "" !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: contain;
}

.swiper-button-prev::after {
  content: "" !important;
}

/* CTA Section */
.cta-section {
  padding: 40px 0;
  padding-bottom: 0;
  /* margin-bottom: 160px; */
  margin: 0 8.5%;
  background: #861889;
  background: linear-gradient(130deg, #861889 0%, #ffb838 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
}

.cta-heading {
  background: #861889;
  background: linear-gradient(130deg, #b067b3 45%, #ffffff 100%);

  font-size: 4.5rem;
  line-height: 55px;
  letter-spacing: -0.9px;
  margin-bottom: 40px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.left {
  width: 50%;
  padding: 64px 5%;
}

.cta-focus {
  color: white;
}

.cta-section .hero__reviews {
  gap: 8px;
  transform: translateY(30%);
}

@media screen and (max-width: 1225px) {
  .cta-section .hero__reviews {
    display: none;
  }
}

@media screen and (max-width: 1120px) {
  .cta-heading {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.72px;
  }
}

@media screen and (max-width: 970px) {
  .cta-section {
    background: none;
    flex-direction: column;
  }

  .left {
    width: 100%;
    padding-bottom: 0;
  }

  .cta-section .hero__download {
    display: none;
  }

  .hero__download__small {
    display: flex;
  }
  .cta-heading {
    background: none;
    color: black;
  }
}

footer {
  margin-top: 160px;
  padding-top: 64px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}

.footer-up {
  width: 100%;
  display: flex;
  margin-bottom: 64px;
}

.footer-left {
  flex-grow: 1;
}

.footer-left img {
  margin-bottom: 28px;
}

.footer-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 32px;
}

.footer-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5%;
}

.footer-list__item {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-list__item img {
  margin-left: 10px;
  margin-top: 4px;
}

/* .footer-right {

} */

.footer-download {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
}

.footer-download__images {
  align-items: center;
  gap: 16px;
  flex-direction: column;
  display: flex;
}

.last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.last p {
  flex-grow: 1;
  color: #707070;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
}

.social-contact {
  display: flex;
  gap: 32px;
}

@media screen and (max-width: 1033px) {
  .footer-up {
    flex-direction: column;
    margin-bottom: 38px;
  }

  .footer-download__images {
    align-items: flex-start;
    flex-direction: row;
  }

  .last {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .social-contact {
    margin-bottom: 20px;
  }
}
